body{
    text-align: center;
    overflow:hidden;
}

#players > div {
    width: 30%;
    margin:5px;
    display:inline-block;
}

.drop-shadow {
    box-shadow: 0 0px 20px #ffffff;
    border-radius: 10px;
}

#type {
    font-weight: bold;
    display: inline-block;
}
