body{
    text-align: center;
    overflow:hidden;
}

#players > div {
    width: 30%;
    margin:5px;
    display:inline-block;

    &.ready {
        background-color: #2ABB9B;
    }
}

.drop-shadow {
    box-shadow: 0 0px 20px #ffffff;
    border-radius: 10px;
}

#type {
    font-weight: bold;
    display: inline-block;
}

.footer {
    position: fixed;
    bottom: 1%;
    width:98%;
    text-align:right;
}
