body{
    text-align: center;
    overflow:hidden;
    translate: position;
}

#players > div {
    width: 30%;
    margin:5px;
    display:inline-block;
}

.drop-shadow {
    box-shadow: 0 0px 20px #ffffff;
    border-radius: 10px;
}

.footer {
    position: fixed;
    bottom: 1%;
    width:98%;
    text-align:right;
}
