body{
    text-align: center;
    overflow:hidden;
}

#gameSection {
    zoom: 1.6;
}
#players > div {
    width: 30%;
    margin:5px;
    display:inline-block;

    &.ready {
        background-color: #2ABB9B;
    }
}

#players {
    position: fixed;
    top: 50%;
    width:100%;
    display:block;
    z-index:0;

    .label {
        float: right;
        margin-right: 15px;
    }

    ul {
        color: black;
        text-align: left;
    }
}

.canvasHolder {
    z-index:1;
}

.drop-shadow {
    box-shadow: 0 0px 20px #ffffff;
    border-radius: 10px;

    &.winner {
        box-shadow: 0 0px 20px #2ABB9B;
    }
}

#type,
#word {
    font-weight: bold;
    display: inline-block;
}

.header {
    position: fixed;
    top: 0;
    width:100%;
    text-align:left;
    font-size:40px;
}

.cat_container {
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer {
    position: fixed;
    bottom: 1%;
    width:98%;
    text-align:right;
}
