$bigfontsize: 50px;
$readyfontsize: 70px;

body {
    font-size: $bigfontsize;
    text-align:center;
}

.big-input {
    font-size: $bigfontsize;
    height: inherit;
}

.ready {
    width: 100%;
    height: 200px;
    font-size: $readyfontsize;
}

#win, #lose {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:100px;
}
